*.gem
.DS_Store
.vagrant/
bin/vagrant_vmware_*_sudo_helper_wrapper_*
bin/wrapper_installed
!bin/vagrant_vmware_desktop_sudo_helper_wrapper_windows_*.exe.manifest
ext/vagrant-vmware-desktop/vagrant-*
encoder_keys/
rgloader/
Gemfile.lock
gopkg

.bundle/
exec/
go_src/vagrant-vmware-utility/vagrant-vmware-utility*
go_src/vagrant-vmware-utility/certificates
pkg
.ruby-bundle/
nat.json
assets/
manifest.txt
