*.gem
.DS_Store
.vagrant/
bin/*
Gemfile.lock
gopkg

.bundle/
exec/
go_src/vagrant-vmware-utility/vagrant-vmware-utility*
go_src/vagrant-vmware-utility/certificates
pkg
.ruby-bundle/
nat.json
assets/
manifest.txt
