on:
  workflow_call:
    outputs:
      linux-cache-id:
        description: Cache identifier for linux packages
        value: ${{ jobs.info.outputs.linux-cache-id }}
      macos-cache-id:
        description: Cache identifier for macOS packages
        value: ${{ jobs.info.outputs.macos-cache-id }}
      windows-cache-id:
        description: Cache identifier for Windows packages
        value: ${{ jobs.info.outputs.windows-cache-id }}
      utility-version:
        description: Version of the VMware utility
        value: ${{ jobs.info.outputs.utility-version }}

jobs:
  info:
    if: github.repository == 'hashicorp/vagrant-vmware-desktop-builder'
    name: Generate Information
    runs-on: ubuntu-latest
    permissions: # These need to be write for access to draft releases
      contents: write
      packages: write
    outputs:
      utility-version: ${{ steps.inspect.outputs.utility-version }}
      unsigned-cache-id: ${{ steps.inspect.outputs.unsigned-cache-id }}
      unsigned-cache-exists: ${{ steps.inspect.outputs.unsigned-cache-exists }}
      signed-cache-id: ${{ steps.inspect.outputs.signed-cache-id }}
      signed-cache-exists: ${{ steps.inspect.outputs.signed-cache-exists }}
      linux-cache-id: ${{ steps.inspect.outputs.linux-cache-id }}
      linux-cache-exists: ${{ steps.inspect.outputs.linux-cache-exists }}
      macos-cache-id: ${{ steps.inspect.outputs.macos-cache-id }}
      macos-cache-exists: ${{ steps.inspect.outputs.macos-cache-exists }}
      windows-cache-id: ${{ steps.inspect.outputs.windows-cache-id }}
      windows-cache-exists: ${{ steps.inspect.outputs.windows-cache-exists }}
    steps:
      - name: Code Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          fetch-depth: 0
      - name: Gather information
        id: inspect
        run: ./.ci/utility-information
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build:
    if: github.repository == 'hashicorp/vagrant-vmware-desktop-builder' && needs.info.outputs.signed-cache-exists != 'true'
    name: Build VMware Utilities
    runs-on: ['self-hosted', 'ondemand', 'linux', 'type=t3.small']
    needs: [info]
    permissions:
      id-token: write
      contents: write
      packages: write
    steps:
      - name: Authentication
        id: vault-auth
        run: vault-auth
      - name: Secrets
        id: secrets
        uses: hashicorp/vault-action@v2
        with:
          url: ${{ steps.vault-auth.outputs.addr }}
          caCertificate: ${{ steps.vault-auth.outputs.ca_certificate }}
          token: ${{ steps.vault-auth.outputs.token }}
          secrets:
            kv/data/teams/vagrant/hashibot signore_token;
            kv/data/github/hashicorp/vagrant-vmware-desktop-builder signore_client_id;
            kv/data/github/hashicorp/vagrant-vmware-desktop-builder signore_client_secret;
            kv/data/github/hashicorp/vagrant-vmware-desktop-builder signore_macos_binary_signer;
            kv/data/github/hashicorp/vagrant-vmware-desktop-builder signore_windows_signer;
      - name: Code Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: Setup Go
        if: needs.info.outputs.unsigned-cache-exists != 'true'
        uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9 # v4.0.0
        with:
          go-version-file: go.mod
      - name: Build utility binaries
        if: needs.info.outputs.unsigned-cache-exists != 'true'
        run: make all
      - name: Cache binaries
        if: needs.info.outputs.unsigned-cache-exists != 'true'
        run: ./.ci/create-cache "${CACHE_ID}" ./bin
        env:
          CACHE_ID: ${{ needs.info.outputs.unsigned-cache-id }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Restore cached binaries
        if: needs.info.outputs.unsigned-cache-exists == 'true'
        run: ./.ci/restore-cache "${CACHE_ID}" ./bin
        env:
          CACHE_ID: ${{ needs.info.outputs.unsigned-cache-id }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Signore
        run: ./.ci/install-signore
        env:
          HASHIBOT_TOKEN: ${{ steps.secrets.outputs.signore_token }}
      - name: Sign macOS binary
        run: |
          ./.ci/sign-file -b "vagrant-vmware-utility" \
            "./bin/vagrant-vmware-utility_darwin_universal" \
        env:
          SIGNORE_SIGNER: ${{ steps.secrets.outputs.signore_macos_binary_signer }}
          SIGNORE_CLIENT_ID: ${{ steps.secrets.outputs.signore_client_id  }}
          SIGNORE_CLIENT_SECRET: ${{ steps.secrets.outputs.signore_client_secret }}
      - name: Sign Windows binary
        run: ./.ci/sign-file "./bin/vagrant-vmware-utility_darwin_universal"
        env:
          SIGNORE_WINDOWS: ${{ steps.secrets.outputs.signore_windows_signer }}
          SIGNORE_CLIENT_ID: ${{ steps.secrets.outputs.signore_client_id  }}
          SIGNORE_CLIENT_SECRET: ${{ steps.secrets.outputs.signore_client_secret }}
      - name: Cache signed binaries
        run: ./.ci/create-cache "${CACHE_ID}" ./bin
        env:
          CACHE_ID: ${{ needs.info.outputs.signed-cache-id }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  windows-binary:
    if: github.repository == 'hashicorp/vagrant-vmware-desktop-builder' && needs.info.outputs.windows-cache-exists != 'true' && always()
    name: Store Windows binary
    runs-on: ubuntu-latest
    needs: [info, build]
    permissions:
      contents: write
      packages: write
    steps:
      - name: Code Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: Fetch binaries
        run: ./.ci/restore-cache "${CACHE_ID}" ./bin
        env:
          CACHE_ID: ${{ needs.info.outputs.signed-cache-id }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload for Windows
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: windows-binary
          path: ./bin
  build-linux:
    if: github.repository == 'hashicorp/vagrant-vmware-desktop-builder' && needs.info.outputs.linux-cache-exists != 'true' && always()
    name: Build Linux RPM, DEB, and PACMAN packages
    runs-on: ubuntu-latest
    needs: [info, build]
    permissions:
      contents: write
      packages: write
    steps:
      - name: Code Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: Fetch binaries
        run: ./.ci/restore-cache "${CACHE_ID}" ./bin
        env:
          CACHE_ID: ${{ needs.info.outputs.signed-cache-id }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install ruby
        uses: ruby/setup-ruby@55283cc23133118229fd3f97f9336ee23a179fcf # v1.146.0
        with:
          ruby-version: 3.1
          bundler-cache: true
      - name: Build DEB
        run: ./.ci/build-deb
        env:
          UTILITY_VERSION: ${{ needs.info.outputs.utility-version }}
      - name: Build RPM
        run: ./.ci/build-rpm
        env:
          UTILITY_VERSION: ${{ needs.info.outputs.utility-version }}
      - name: Build PACMAN
        run: ./.ci/build-pacman
        env:
          UTILITY_VERSION: ${{ needs.info.outputs.utility-version }}
      - name: Cache packages
        run: ./.ci/create-cache "${CACHE_ID}" ./pkg
        env:
          CACHE_ID: ${{ needs.info.outputs.linux-cache-id }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build-macos:
    if: github.repository == 'hashicorp/vagrant-vmware-desktop-builde' && needs.info.outputs.macos-cache-exists != 'true' && always()
    name: Build macOS package
    runs-on: ['self-hosted', 'ondemand', 'os=macos', 'x86']
    needs: [info, build]
    permissions:
      id-token: write
      contents: write
      packages: write
    steps:
      - name: Authentication
        id: vault-auth
        run: vault-auth
      - name: Secrets
        id: secrets
        uses: hashicorp/vault-action@v2
        with:
          url: ${{ steps.vault-auth.outputs.addr }}
          caCertificate: ${{ steps.vault-auth.outputs.ca_certificate }}
          token: ${{ steps.vault-auth.outputs.token }}
          secrets:
            kv/data/teams/vagrant/hashibot signore_token;
            kv/data/github/hashicorp/vagrant-vmware-desktop-builder signore_client_id;
            kv/data/github/hashicorp/vagrant-vmware-desktop-builder signore_client_secret;
            kv/data/github/hashicorp/vagrant-vmware-desktop-builder signore_macos_binary_signer;
            kv/data/github/hashicorp/vagrant-vmware-desktop-builder signore_macos_installer_signer;
      - name: Code Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: Fetch binaries
        run: ./.ci/restore-cache "${CACHE_ID}" ./bin
        env:
          CACHE_ID: ${{ needs.info.outputs.signed-cache-id }}
      - name: Install signore
        run: ./.ci/install-signore
        env:
          HASHIBOT_TOKEN: ${{ steps.secrets.outputs.signore_token }}
      - name: Build core package
        id: build-core
        run: ./.ci/build-macos-core-pkg ./bin/vagrant-vmware-utility_darwin_universal
        env:
          UTILITY_VERSION: ${{ needs.info.outputs.utility-version }}
      - name: Sign core package
        run: ./.ci/sign-file "${PKG_PATH}"
        env:
          PKG_PATH: ${{ steps.build-core.outputs.core-path }}
          SIGNORE_SIGNER: ${{ steps.secrets.outputs.signore_macos_installer_signer }}
          SIGNORE_CLIENT_ID: ${{ steps.secrets.outputs.signore_client_id  }}
          SIGNORE_CLIENT_SECRET: ${{ steps.secrets.outputs.signore_client_secret }}
      - name: Build full package
        id: build-full
        run: ./.ci/build-macos-full-pkg "${CORE_PKG}"
        env:
          CORE_PKG: ${{ steps.build-core.outputs.core-path }}
          UTILITY_VERSION: ${{ needs.info.outputs.utility-version }}
      - name: Sign full package
        run: ./.ci/sign-file "${PKG_PATH}"
        env:
          PKG_PATH: ${{ steps.build-full.outputs.full-path }}
          SIGNORE_SIGNER: ${{ steps.secrets.outputs.signore_macos_installer_signer }}
          SIGNORE_CLIENT_ID: ${{ steps.secrets.outputs.signore_client_id  }}
          SIGNORE_CLIENT_SECRET: ${{ steps.secrets.outputs.signore_client_secret }}
      - name: Build DMG
        id: build-dmg
        run: ./.ci/build-macos-dmg "${FULL_PKG}"
        env:
          FULL_PKG: ${{ steps.build-full.outputs.full-path }}
          UTILITY_VERSION: ${{ needs.info.outputs.utility-version }}
      - name: Sign DMG
        run: ./.ci/sign-file "${DMG_PATH}"
        env:
          DMG_PATH: ${{ steps.outputs.build-dmg.dmg-path }}
          SIGNORE_SIGNER: ${{ steps.secrets.outputs.signore_macos_binary_signer }}
          SIGNORE_CLIENT_ID: ${{ steps.secrets.outputs.signore_client_id  }}
          SIGNORE_CLIENT_SECRET: ${{ steps.secrets.outputs.signore_client_secret }}
      - name: Notarize DMG
        run: ./.ci/notarize "${BUNDLE_ID}" "${DMG_PATH}"
        env:
          BUNDLE_ID: com.vagrant.vagrant-vmware-utility
          DMG_PATH: ${{ steps.build-dmg.outputs.dmg-path }}
          AC_USERNAME: ${{ steps.secrets.outputs.notarization_username }}
          AC_PASSWORD: ${{ steps.secrets.outputs.notarization_password }}
      - name: Relocate DMG for caching
        run: mkdir -p ./pkg && mv "${DMG_PATH}" ./pkg
        env:
          DMG_PATH: ${{ steps.build-dmg.outputs.dmg-path }}
      - name: Cache packages
        run: ./.ci/create-cache "${CACHE_ID}" ./pkg
        env:
          CACHE_ID: ${{ needs.info.outputs.macos-cache-id }}
  build-windows:
    if: github.repository == 'hashicorp/vagrant-vmware-desktop-builder' && needs.info.outputs.windows-cache-exists != 'true' && always()
    name: Build Windows package
    runs-on: windows-latest
    needs: [info, windows-binary]
    permissions:
      contents: write
    steps:
      - name: Code Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: Fetch utility binary
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
        with:
          name: windows-binary
          path: ./bin
      - name: Build package
        run: powershell.exe -File ./.ci/build-msi.ps1 -UtilityPath ./bin/vagrant-vmware-utility.exe -UtilityVersion ${env:UTILITY_VERSION}
        env:
          UTILITY_VERSION: ${{ needs.info.outputs.utility-version }}
      - name: Upload unsigned artifact
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: windows-unsigned-msi
          path: ./pkg
  sign-windows:
    if: github.repository == 'hashicorp/vagrant-vmware-desktop-builder' && needs.info.outputs.windows-cache-exists != 'true' && always()
    name: Sign Windows MSI
    needs: [info, build-windows]
    runs-on: ['self-hosted', 'ondemand', 'linux', 'type=t3.small']
    permissions:
      id-token: write
      contents: write
      packages: write
    steps:
      - name: Authentication
        id: vault-auth
        run: vault-auth
      - name: Secrets
        id: secrets
        uses: hashicorp/vault-action@v2
        with:
          url: ${{ steps.vault-auth.outputs.addr }}
          caCertificate: ${{ steps.vault-auth.outputs.ca_certificate }}
          token: ${{ steps.vault-auth.outputs.token }}
          secrets:
            kv/data/teams/vagrant/hashibot signore_token;
            kv/data/github/hashicorp/vagrant-vmware-desktop-builder signore_client_id;
            kv/data/github/hashicorp/vagrant-vmware-desktop-builder signore_client_secret;
            kv/data/github/hashicorp/vagrant-vmware-desktop-builder signore_windows_signer;
      - name: Code Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: Fetch MSI
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
        with:
          name: windows-unsigned-msi
          path: ./pkg
      - name: Setup Signore
        run: ./.ci/install-signore
        env:
          HASHIBOT_TOKEN: ${{ steps.secrets.outputs.signore_token }}
      - name: Sign MSI
        run: msi=( ./pkg/* ) && ./.ci/sign-file "${msi[0]}"
        env:
          SIGNORE_SIGNER: ${{ steps.secrets.outputs.signore_windows_signer }}
          SIGNORE_CLIENT_ID: ${{ steps.secrets.outputs.signore_client_id  }}
          SIGNORE_CLIENT_SECRET: ${{ steps.secrets.outputs.signore_client_secret }}
      - name: Cache packages
        run: ./.ci/create-cache "${CACHE_ID}" ./pkg
        env:
          CACHE_ID: ${{ needs.info.outputs.windows-cache-id }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
