on:
  push:
    branches:
      - main
      - 'test-*'
    paths:
      - 'lib/**'
      - 'spec/**'
  pull_request:
    branches:
      - main
    paths:
      - 'lib/**'
      - 'spec/**'

jobs:
  unit-tests:
    if: github.repository == 'hashicorp/vagrant-vmware-desktop'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '3.1', '3.2', '3.3', '3.4' ]
    name: Vagrant VMware Plugin unit tests on Ruby ${{ matrix.ruby }}
    steps:
      - name: Code Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Ruby
        uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
        with:
          ruby-version: ${{matrix.ruby}}
          bundler-cache: true
      - name: Run Tests
        run: .ci/test.sh
